*{
    box-sizing: border-box;
    max-width: 1200px;
}
body{
    width: 1190px;
    border: 2px solid black;
}
#boton{
    display: block;
    padding: 40px;
    background-color: aqua;
    color: black;
    width: 200px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    border: 5px solid rgba(146, 13, 13, 0.719);
    transition:border 600ms, background-color 2s , border 2s;
}

#boton:hover{
    border-radius: 20px;
    background-color: coral;
    border: 7px solid fuchsia;
}

#caja{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    background-color: lightgreen;
    color: black;
    border: 5px solid crimson;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name: desplazamiento;
    animation-duration: 19s;
    animation-iteration-count: infinite;/* esto es para que la animacion sea infinita*/
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);

}
 /* @keyframes desplazamiento{
    from{
      margin-left: 0px;
    }
    to{
     margin-left: 1000px;
    }
    100%{
        margin-left: 0px;
    }
}*/
@keyframes desplazamiento{
   0%{
      margin-left: 0px;
    }
    50%{
     margin-left: 1000px;
     background-color: blue;
     transform: rotate(240deg);
     border-radius: 100%;
    }
    100%{
        margin-left: 0px;
    }
}